* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}

:root {
    --lightest-blue: rgb(179, 232, 229);
    --light-blue: rgb(130, 219, 216);
    --dark-blue: rgb(59, 172, 182);
    --darkest-blue: rgb(47, 143, 157);
}

body {
    background-color: var(--lightest-blue);
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}


header {
    margin-top: 1rem;
}
header > h1 {
    font-size: 13vw;
    text-align: center;
    line-height: 90%;
    color: darkcyan;
}

/* Visual Styling for Elements - Start */
.score-label-styling {
    font-size: clamp(1rem, 10vw, 4rem); 
}

.choice-button-styling {
    min-width: clamp(50px, 20vw + 20px, 150px);
    height: 50px;
    font-size: clamp(1rem, 2rem, 4rem);
    border-radius: 5px;
    padding: 5px;
    background-color: darkcyan;
    color: var(--lightest-blue);  
}

.img-container{
    width: clamp(150px, 20vw, 300px);
    height: clamp(150px, 20vw, 300px);
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
.img-container img {
    width: 100%;
    height: 100%;
}
#game-visuals-container > p {
    font-size: 3rem;
    margin: 5px;
    color: darkcyan;
    text-align: center;
}

#results-container > p {
    font-size: clamp(1rem, 10vw, 4rem);
    text-align: center;
    line-height: 90%;
}
/* Visual Styling for Elements - End */

/* Game Visuals Container - Start */
#game-visuals-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Game Visuals Container - End */

/* Game Interactivity Container - Start */
#game-interactivity-container {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 20px;
}

/* Choices Container - Start*/
#choices-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 15px;
}
/* Choices Container - End */

/* Game Interactivity Container - End */

/* Things to do when the screen is larger than 768px */
@media only screen and (min-width: 768px) {
    header {
        margin-top: 20px;
    }

    #game-visuals-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 50px;
        margin-top: 30px;
    }

    #game-interactivity-container {
        margin-top: 50px;
    }

    #choices-container {
        margin-top: 20px;
    }
} 

